<div id="wrapper">

    <div id="searchDropDown">
        <mat-form-field>
            <mat-label>Search type</mat-label>
            <mat-select (selectionChange)="selected($event)">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div id="typeDropDown">
        <mat-form-field>
            <mat-label>Search object</mat-label>
            <mat-select (TypeSelectionChange)="selected($event)">
                <mat-option *ngFor="let t of types" [value]="t.value">
                    {{t.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div id="searchInput">
        <input matInput #newInput placeholder="Search for">
    </div>

    <div id="searchButton">
        <button mat-stroked-button (click)="searchClicked(newInput.value)">Search</button>
    </div>
    <div id="showTree">
        <button mat-stroked-button (click)="ViewD3Tree(newInput.value)">Show static graph</button>
    </div>
    <div id="showNodeRelation">
        <button mat-stroked-button (click)="ViewNodeRelation(newInput.value)">Show dynamic graph</button>
    </div>
</div>

<div [hidden]="!treeGridDiv">
    <ejs-treegrid [dataSource]='treeGridData' [treeColumnIndex]='0' childMapping='children'>
        <e-columns>
            <e-column field='name' headerText='NAME' textAlign='Left' width=100></e-column>
            <e-column field='id' headerText='ID' textAlign='Left' width=80></e-column>
            <e-column field='fqn' headerText='FQN' textAlign='Left' width=200></e-column>
        </e-columns>
    </ejs-treegrid>
</div>

<div class="nodeGraphClass" id="NodeGraphDiv"></div>