#wrapper {
    width: 500px;  
    overflow: auto; /* so the size of the wrapper is alway the size of the longest content */

}
#searchDropDown {
    float: left;
    text-align:center;
}
#searchInput {
    float: left;
    text-align:center;
}

#searchButton {
    float: left;  
    display: block; 
    text-align:center;
}